{% extends 'layout.twig' %}

{% block content %}
<div id="TablaPosiciones" style="margin-top: 70px">
    <h4 id="etiquetaPosiciones" style="text-align: center"><b>Posiciones</b></h4>
    <table class='table table-hover' id='tablaIndex'>
      <thead class='thead-light'>
        <tr>
          <th scope='col'>Posicion</th>
          <th scope='col'>Equipo</th>
          <th scope='col'>Puntos</th>
        </tr>
      </thead>
      <tbody>
        {% set index = 1 %}
        {% for posicion in posiciones %}
          <tr>
            <td>{{index}}</td>
            <td> {{posicion.club.nombre}}<img HEIGHT="30" WIDTH="30" SRC="images/{{posicion.club.escudo}}"></td>
            <td>{{posicion.puntaje}}</td>
          </tr>
        {% set index = index+1 %}
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
